/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #85a6e2, #cbeaf1);
  margin: 0;
  color: #333;
  min-height: 100vh;  
}